html{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: #1e1e1e;
    color: #e2e0e0;
    font-family: 'Bruno Ace SC', serif;
    width: 100%;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
    border-bottom: 2px solid #e2e0e0;
    height: 7.5%;
    width: 100%;
    margin: 0;
    z-index: 1000;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 80%;
}

header ul li{
    padding: 0 1rem;
}

header ul li + li{
    border-left: 1px solid #e2e0e0;
}

#settings{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 12rem;
    min-height: 4rem;
    padding: 1rem 4rem 1rem 1rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #e2e0e0;
    border-radius: 0 0 0 1rem;
}

.hidden{
    display: none;
}

main{
    top: 7.5%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

#general{
    display: flex;
    flex-direction: column;
}

#welcome{
    background-image: url('../images/file_00000000fa9071f8a6d703523da35c69.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    border-bottom: 2px solid black;
}

#general article{
    text-align: center;
    max-width: 700px;
    align-self: center;
    padding: 3rem;
    background-color: darkblue;
    border-radius: 3rem;
    border: 2px solid black;
    margin: 1rem 0;
    width: 80%;
    box-shadow: 0 0 5px #e2e0e0;
}

h1{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    margin: 0;
    border-radius: 0 2rem 2rem 0;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

#tags{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

#tags p{
    background-color: #1e1e1e;
    border: 1px solid #e2e0e0;
    height: 1.5rem;
    border-radius: 0.75rem;
    padding: 0 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px #e2e0e0;
}

#tags p + p{
    margin-left: 0.5rem;
}

#projects, #qualifications{
    text-align: center;
    max-width: 700px;
    width: 80%;
    align-self: center;
    padding: 3rem;
    background-color: darkblue;
    border-radius: 3rem;
    border: 2px solid black;
    margin: 1rem 0;
    box-shadow: 0 0 5px #e2e0e0;
    position: relative;
}

#projects ul{
    list-style: none;
    padding: 0;
}

#projects #quidey a img{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    margin: 0;
}

a{
    color: #e2e0e0;
    text-decoration: underline;
}

#qualifications div + div{
    margin-top: 2.5rem;
}

#qualifications h3{
    text-decoration: underline;
}

footer img{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin: 0;
    height: 100%;

}

footer{
    align-self: flex-end;
    position: relative;
    background-color: black;
    color: #e2e0e0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-top: 2px solid #e2e0e0;
    margin: 0;
}

footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}